<section>
    <div class="containersection">
        <!-- grid de 2 colonnes, avec à gauche du texte et à droite une photo portrait. -->
        <div id="gridpresentation">
            <p class="textpresentation">Pour commencer je m'appelle Lucas, j'ai 21 ans et je suis étudiant dans la section Webdev à l'école d'IPEPS Seraing pour apprendre à devenir Web developer. <br><br> J'apprends différents languages tels que HTML et JavaScript pour que dans le futur je puisse me spécialiser dans le front et ainsi me mettre à mon compte. <br> <br> Avant de venir dans cette branche j'ai testé plusieurs choses mais j'ai toujours été proche de l'informatique donc cela me semblait normal de travailler dans ce qui me passionne.</p>
            <img class="imagepresentation" src="assets/stand-5126363_1920.jpg" alt="portrait">
        </div>
    </div>
</section>