<body>

    <section>
        <!-- mon container section est le meme que le content mais sans la position relative -->
        <div class="containersection">
            <!-- disposition en grid de 2 colonnes, à gauche une image et à droite du texte -->
            <div id="gridhome">
                <div class="col"><img class="imagehome" src="assets/mac-459196_1920.jpg" alt=""></div>
                <div class="col">
                    <p class="frametext"><span class="titleframe">Bienvenue sur le portfolio de Lucas PAVIN.
                            <br><br></span>Ici vous pourrez apprendre à me connaître ainsi qu'à découvrir toutes les
                        possibilités que je peux vous offrir grâce aux différents langages de programmations tels que
                        HTML, CSS ou encore JavaScript.</p>
                </div>
            </div>
        </div>
    </section>
</body>
